git "https://github.com/Quick/Quick" "v1.2.0"
git "https://github.com/Quick/Nimble" "v7.0.2"
git "https://github.com/jwfriese/Fleet" "4.1.1"
git "https://github.com/jwfriese/SwiftCoreExtensions" "b6e404deec4cebcc42d35a07f5ffb57b66f90c6e"
git "https://github.com/jwfriese/EventSource" "7fd974f3f3cd8df6c173a50797ed730c236f6088"
git "https://github.com/matthewpalmer/Locksmith" "b80a90c1044b0445f8339040f027d9c89868116a"
git "https://github.com/ReactiveX/RxSwift" "4.0.0"
git "https://github.com/RxSwiftCommunity/RxDataSources" "1.0.4"
git "https://github.com/Boris-Em/BEMCheckBox" "1.4.0"
git "https://github.com/SwiftyJSON/SwiftyJSON" "3.1.4"
git "https://github.com/antitypical/Result" "3.2.3"
github "Hearst-DD/ObjectMapper" "2.2.8"
github "Alamofire/Alamofire" "4.5.1"
github "RxSwiftCommunity/RxAlamofire" "4.0.0"
